#what .items .item{
    display: block;
    text-align: left;
}

#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

@media(max-width:500px ){
    #navbar {
        flex-direction: column;
        align-items: center;
    }

#navbar .logo{
    margin-bottom: 0.5rem;
    text-align: center;
}
#navbar ul{
    padding:0.5rem;
}
#showcase .showcase-content {
    top: 110px;
    margin-top: -2rem;
}

#who{
    display: block;
}
#who .who-img{
    display: none;

}

#clients .items img{
    display: none;
}
#contact{
    flex-direction: column;
}

#contact .map{
    height: 200px;
    border-top: 4px solid #333;
}

}
@media(max-width:568px ){
.showcase-content{
    margin-top: -2rem;
    top: 130px;
}
.l-heading{
    font-size: 3rem;
}
.lead{
    font-size: 1rem;
}









}